#container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    width: 800px;
    height: 800px;
    
    border: 1px solid black;
    }

     div {
        gap: 1px 1px;
        border: 1px solid gray;
        }