#container {
    display: grid;
    /* grid-auto-columns: 100px;
    grid-auto-rows: auto; */
    /* width: 960px;
    height: 960px; */
    border: 1px solid black;

    }

    #container > div {
        gap: 1px 1px;
        border: 1px solid gray;

        }

