#container {
    display: grid;
    margin:  0 auto;
    border: 1px solid black;
    }
h1{
    text-align: center;
    font-size: 40px;
}
    #container > div {
        gap: 1px 1px;
        border: 1px solid gray;

        }

.number {
   margin: 0 40% ;
}
h2 {
    margin: 1% 30%;
}
.buttons{
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
    
}
button {
    font-size: larger;
    background-color: #3882F6;
    color: #e5e7eb;
    font-weight: 500;
    border-radius: 10px;
}